/* --- reset --- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }
/* --x-- reset --x-- */

header {
    background-color: #202020;    
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 50px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    margin: 0px 20px;
    color: #C0C0C0;
    font-size: 1.3rem;
}

.nav-item a:hover {
    text-decoration: none;
    color: #E0E0E0;    
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    /* border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.proj-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proj-box {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}