/* --- reset --- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }
/* --x-- reset --x-- */

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #202020;    
}

section {
    margin-top: 35px;
    margin-bottom: 25x;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 50px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    margin: 0px 20px;
    color: #C0C0C0;
    font-size: 1.3rem;
}

.nav-item a:hover {
    text-decoration: none;
    color: #E0E0E0;    
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    margin: 10px;
}

.proj-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}

.proj-box {
    flex: 1;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.proj-box p, .proj-link {
    padding: 10px 5px;
}

.proj-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;    
}

.proj-body {
    font-size: 0.8rem;
}

.proj-thumb {
    width: 160px;
    height: 100px;
}

.proj-name {
    font-weight: bold;
}

.proj-techstack-label {
    font-weight: bold;
}

.proj-link, proj-link:visited {
    text-decoration: none;
    color: #337ab7;
    font-style: italic;
    cursor: pointer;
}

.proj-link:hover {
    font-weight: bold;
}

.github-ref {
    margin: 20px;
}