hr {
  margin: 10px;
}

h1, h2, h3 {
  color: #005080;
  font-weight: bold;
}

.projects-list {
    border-radius:10px;
    font-size: 12px;
}

.conferences-list {
  font-size: 12px;
}

/*.img-thumb-portfolio {
    width: 150px;
    height: 100px;
}*/